@import './resets';
@import './variables';
 
@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

 body {
    background-color: $colorka;
    font-size: 3rem;
 }

 .main {
    width: 80%;
    margin: 0 auto;

    #{&}__paragraph {
        font-weight: weight(bold);
        color: white;

        &:hover {
            color: grey;
        }
    }
 }