body {
    font-family: 'Roboto', sans-serif;
}

.portfolio-navigator {
    border-bottom: 2px solid black;
    padding-block: 8px;
    margin-inline-start: 8px;
}

.portfolio-elements {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.portfolio-element a{
    background-color: hsl(204, 100%, 60%);
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
    border-radius: 10px;
}

.portfolio-element a:hover {
    background-color: hsl(204, 100%, 80%);
    transition: background-color 0.2s;
}